table.main {
	margin-left: auto;
	margin-right: auto;
}

table.main > tbody > tr > td {
	padding: 10px;
}

table.queue {
	width: 200px;
	border: 1px solid black;
}

table.queue > caption {
	font-weight: bold;
	border: 1px solid black;
	border-bottom: none;
	text-align: center;
	padding: 0px;
	color: black;
}

table.queue > tbody > tr > td {
	text-align: center;
	width: 80px;
}

table.queue > tbody > tr > td.user {
	color: red;
}

span.queue {
	font-weight: bold;
}

td.form-label {
	text-align: right;
}



div.big {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

div.panel-last {
	margin-bottom: 0px;
}

div.progress {
	width: 100%;
	margin: 0px auto;
	position: relative;
	line-height: 20px;
	height: 20px;
}

span.progress-value {
	color: #222222;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	height: 100%;
	text-align: center;
}

div.input-group {
	width: 100%;
	margin-bottom: 5px;
}

div.panel-highlight {
	text-align: center;
}

span.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
