div.big {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

div.panel-last {
	margin-bottom: 0px;
}

div.progress {
	width: 100%;
	margin: 0px auto;
	position: relative;
	line-height: 20px;
	height: 20px;
}

span.progress-value {
	color: #222222;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	height: 100%;
	text-align: center;
}

div.input-group {
	width: 100%;
	margin-bottom: 5px;
}

div.panel-highlight {
	text-align: center;
}

span.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table.players {
	margin-bottom: 0px;
	table-layout: fixed;
}

table.players td {
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table.players td.user {
	font-weight: bold;
}

table.players td.disabled {
	background: #EEEEEE;
}

span.queue-name {
	min-width: 150px;
	max-width: 150px;
}

span.queue-progress {
	width: 100%;
}
